* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #c1c1c1;
}
*::selection {
    background: #ced100;
}
html {
    scroll-behavior: smooth;
}
body {
    background: rgb(40, 44, 52);
}
h1 {
    font-size: 35px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 25px;
}
p {
    font-size: 15px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: rgb(40, 44, 52);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
    z-index: 2;
}
header .logo img {
    position: absolute;
    color: white;
    top: 5px;
    left: 5%;
    width: auto;
    height: 90px;
    z-index: 3;
}
header nav {
    position: absolute;
    top: 25%;
    right: 0px;
    height: 50px;
    width: 750px;
    z-index: 3;
}
header nav a {
    position: relative;
    top: 15px;
    border-top: 1px solid #a8a8a8;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    transition: .2s;
    z-index: 4;
}
header nav a:hover {
    border-top: 3px solid #ced100;
    color: #ced100;
    transition: .2s;
}
b {
    font-weight: 700;
}
main {
    position: relative;
    top: 100px;
    text-align: center;
}
main .bcg {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: 0;
}
main .bcg img {
    width: 100%;
    z-index: 0;
}
main section {
    background: rgb(40, 44, 52);
    margin: 0 auto;
    max-width: 1200px;
    z-index: 1;
}
main section .grid {
    display: grid;
    grid-template-columns: minmax(300px, 600px) minmax(300px, 600px);
    grid-template-rows: 200px 200px;
}
main section .grid .text {
    position: relative;
    background: rgb(32, 35, 42);
    border-radius: 10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin: 10px;
    padding: 5px;
    padding-left: 75px;
    text-align: left;
}
main section .grid .text .icon {
    position: absolute;
    top: 10px;
    left: 5px;
    height: 60px;
    width: 60px;
}
main section .gallery a img {
    float: left;
    width: 20%;
    height: auto;
    border: 5px solid transparent;
    border-radius: 10px;
    transition: transform .3s ease;
}
main section .gallery a:hover img {
    transform: scale(1.05);
    transition: transform .3s ease;
    z-index: 5;
}
main section .gallery a.big img {
    width: 40%;
}
.clear {
    clear: both;
    float: none;
    width: 100%;
}
@media (max-width: 768px) {
    main section .grid {
        display: grid;
        grid-template-columns: minmax(100px, 768px);
        grid-template-rows: 200px 200px 200px 200px;
    }
}